platforms/android/
platforms/android/*
platforms/android/CordovaLib/build/outputs/aar/CordovaLib-debug.aar

platforms/android/CordovaLib/build/outputs/aar/CordovaLib-debug.aar

platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merger.xml

platforms/android/CordovaLib/build/outputs/aar/CordovaLib-debug.aar

platforms/android/.gradle/2.2.1/taskArtifacts/cache.properties.lock

platforms/android/.gradle/2.2.1/taskArtifacts/fileHashes.bin

platforms/android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

platforms/android/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

*.bin

platforms/android/assets/www/homepage.html

platforms/android/assets/www/js/homepage.js

*.jar

platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugAssets/merger.xml

platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
